name: "Get latest releases & upload via FTP"

on: 
  workflow_dispatch:

jobs:
  process-releases:
    runs-on: self-hosted
    
    steps:
      # Loop through repositories
      - name: "Get latest release from blender-floorgenerator"
        id: Blender-FloorGenerator
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: Plazma-digital/Blender-FloorGenerator
      
      - name: "Download blender-floorgenerator asset"
        run: |
          curl -s -H "Authorization: token YOUR_PAT" \
           https://api.github.com/repos/Plazma-digital/Blender-FloorGenerator/releases/latest \
           | jq -r '.assets[0].browser_download_url'-L \
           
      - name: "Run custom script"
        run: echo "custom script"

      - name: "Upload files to FTP"
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./output
